header {
  min-height: 6rem;
  height: auto;
  background-image: url('/images/bg-header-mobile.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #5da5a4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

nav {
  display: hidden;
  position: relative;
  width: calc(100% - 2rem);
  max-width: 1200px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  bottom: -2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.3rem 2.5rem;
  gap: 1.3rem;

  & > div {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    background-color: #eff9f6;
    height: 2rem;
    border-radius: 3px;

    span {
      margin-left: .3rem;
      font-weight: 700;
      color: #5b9190;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 100%;
      background-color: #5ea3a1;
      cursor: pointer;
      border-radius: 0 3px 3px 0;

      &:hover {
        background-color: #293a39;
      }
    }
  }
}

@media (min-width: 500px) {
  header {
    background-image: url('/images/bg-header-desktop.svg');
    min-height: 10rem;
  }
}